<!DOCTYPE html>
<html lang="en">
  <head>
      <meta charset="UTF-8">
      <meta name="description" content="Garage Door App" />
      <title>The Hidden Button</title>
    
      <style>
        input.big_submit_button {
          width: 200px;
          height: 60px;
        }
        input.biggish {
          width: 20px;
          height: 20px;
        }
        label.biggish{
          font-size: 36px;
        }
        div.horz_centered{
          margin: auto;
          width: 300px;
          border: 5px solid #FFFF00;
          padding: 10px;
        }
      </style>

    
      <!-- import the webpage's client-side javascript file -->
      <!-- <script src="{{ url_for('static', filename='client.js') }}"></script> -->
    
      <!-- invoke turbo js -->
      {{ turbo() }}
  </head>

  <body>
    <div id="BodyDiv" class="horz_centered">
      <h1>Enter Poinsettia digits:</h1>
      <div id="KnockFormDiv">
        {{ KnockFormHtml|safe }}
      </div>
      <br/>
      <div id="BtnResponseDiv">
        {{ BtnResponseText }}
      </div>
    </div>
  </body>
</html>